<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScanMonitorApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ScanMonitorApp.Properties.Settings>
            <setting name="DocAdminImgFolderBase" serializeAs="String">
                <value>\\MACALLAN\Admin\ScanAdmin\ScannedDocImgs</value>
            </setting>
            <setting name="MaxPagesForImages" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MaxPagesForText" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DbNameForDocs" serializeAs="String">
                <value>ScanManager</value>
            </setting>
            <setting name="DbCollectionForDocInfo" serializeAs="String">
                <value>ScanDocInfo</value>
            </setting>
            <setting name="DbCollectionForDocTypes" serializeAs="String">
                <value>DocTypes</value>
            </setting>
            <setting name="DbCollectionForDocPages" serializeAs="String">
                <value>ScanDocPages</value>
            </setting>
            <setting name="DbCollectionForFiledDocs" serializeAs="String">
                <value>FiledDocInfo</value>
            </setting>
            <setting name="PickThumbHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="DefaultRenameTo" serializeAs="String">
                <value>[Y-M-D] [PREFIX] [SUBJECT]</value>
            </setting>
            <setting name="DbCollectionForPathMacros" serializeAs="String">
                <value>DocTypePathMacros</value>
            </setting>
            <setting name="DbConnectionString" serializeAs="String">
                <value>mongodb://macallan/</value>
            </setting>
            <setting name="BasePathForFilingFolderSelection" serializeAs="String">
                <value>\\MACALLAN\Main\RobAndJudyPersonal</value>
            </setting>
            <setting name="DocArchiveFolder" serializeAs="String">
                <value>\\MACALLAN\Admin\ScanAdmin\ScanDocBackups</value>
            </setting>
            <setting name="EmailService" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="EmailServicePort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>Scan Filer &lt;rob@robdobson.com&gt;</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>Rob Dobson&lt;rob@dobson.com&gt;, Judy Wilson &lt;judyw@marketry.co.uk&gt;</value>
            </setting>
            <setting name="TestModeFileTo" serializeAs="String">
                <value/>
            </setting>
            <setting name="FolderMonitorSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UnfiledDocCheckSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DocTypeReCheckSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="UnfiledDocListOrder" serializeAs="String">
                <value>original</value>
            </setting>
            <setting name="DbCollectionForExistingFiles" serializeAs="String">
                <value>ExistingFileInfo</value>
            </setting>
            <setting name="DbCollectionForSwSettings" serializeAs="String">
                <value>ScanSwSettings</value>
            </setting>
            <setting name="PdfEditorOutFolder" serializeAs="String">
                <value>\\MACALLAN\Admin\ScanAdmin\PdfOutFolder</value>
            </setting>
            <setting name="FoldersToMonitor" serializeAs="String">
                <value>c:\Users\Rob\Documents\ScanSnap</value>
            </setting>
            <setting name="PCtoRunMonitorOn" serializeAs="String">
                <value>SCAN2</value>
            </setting>
            <setting name="FoldersToSearchForFiledDocs" serializeAs="String">
                <value>\\MACALLAN\Main\RobAndJudyPersonal;\\MACALLAN\Main\Rob Business;\\MACALLAN\Main\Peter Wilson documents</value>
            </setting>
            <setting name="LocalFolderToMoveFiledTo" serializeAs="String">
                <value>c:\Users\Rob\Documents\AlreadyFiledDocs</value>
            </setting>
        </ScanMonitorApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.0" newVersion="1.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
